
@{
    ViewBag.Title = "Manage Rx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ManageRx", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @ID = "frmManageRx", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-offset-0 col-lg-12" id="dvMainAreaRx">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users">&nbsp;</i>Manage Rx for @ViewBag.FirstName @ViewBag.LastName</h3>
            </div>
            <div class="panel-body">
                <div id="dvErrorHolder"></div>
                <div style="clear:both"></div>
                <div class="row" style="margin-bottom:20px;margin-top:20px;">
                    <div class="col-xs-12">
                        <button type="button" onclick="javascript: return AddNewRx();" class="btn btn-primary btn-md" id="btnAddNewRx" style="float:right;margin-right:10px;">Add New Rx</button>
                        <button type="button" onclick="javascript: return ToManagePatients();" class="btn btn-primary btn-md" id="btnToManagePatients" style="float:right;margin-right:10px;">Back To Manage Patients</button>
                    </div>
                </div>
                <div style="clear:both"></div>
                <hr />
                <div id="dvgridAreaRx">
                </div>

            </div>
        </div>
    </div>
}
<div id="dvActionAreaRx">
</div>

<script type="text/javascript">

    var currentRxID = 0;

    function AddNewRx() {
        
        $("#dvMainAreaRx").slideUp("slow", function () {
            // Animation complete.
            ShowAjaxLoadingContent('dvActionAreaRx');
            $('#dvActionAreaRx').slideDown("slow", function () {
                $('#dvActionAreaRx').load(getMyAbsoluteUrl('~/Home/AddNewRx'));

            });
        });

        return false;
    }

    function AddNewRxCancel() {
        $("#dvActionAreaRx").slideUp("slow", function () {
            // Animation complete.
            ShowAjaxLoadingContent('dvgridAreaRx');
            $('#dvMainAreaRx').slideDown("slow");
            $('#dvActionAreaRx').html('');
            $('#dvgridAreaRx').load(getMyAbsoluteUrl('~/Home/ManageRxList'));
        });

        //return false;
    }

    function EditRxCancel() {
        $("#dvActionAreaRx").slideUp("slow", function () {
            // Animation complete.
            ShowAjaxLoadingContent('dvgridAreaRx');
            $('#dvMainAreaRx').slideDown("slow");
            $('#dvActionAreaRx').html('');
            $('#dvgridAreaRx').load(getMyAbsoluteUrl('~/Home/ManageRxList'));
        });

        //return false;
    }

    function ManageRx(patientid) {
        return false;
    }


    function EditRx(userid) {
        if (userid != null) {

            currentUserID = userid;

            $("#dvMainAreaRx").slideUp("slow", function () {
                // Animation complete.
                ShowAjaxLoadingContent('dvActionAreaRx');
                $('#dvActionAreaRx').slideDown("slow", function () {
                    $('#dvActionAreaRx').load(getMyAbsoluteUrl('~/Home/EditRx?RxID=' + userid));
                });
            });
        }
    }

    $(document).ready(function () {
        ShowAjaxLoadingContent('dvgridAreaRx');
        $('#dvgridAreaRx').load(getMyAbsoluteUrl('~/Home/ManageRxList?patientID=' + currentUserID + '&firstname=' + currentUserFirstName + "&lastname=" + currentUserLastName));

    });
</script>

